html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "DM sans";
  font-size: 14px;
  font-weight: 400;
}
h1 {
  font-size: 30px;
  font-family: "Outfit";
  margin-bottom: 10px;
}
h2 {
  font-size: 25px;
  font-family: "Outfit";
  margin-bottom: 10px;
  color: #21c774;
  font-weight: 500;
}
h3 {
  font-size: 20px;
  font-family: "Outfit";
  margin-bottom: 10px;
  font-weight: 500;
}
.container {
  display: flex;
}
.sidecontainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar {
  width: 25%;
  border-right: 1px solid #e2e6ee;
  overflow: hidden;
}
.main {
  width: 75%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.photo {
  width: 100%;
}
.lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.lists li {
  list-style: none;
  display: flex;
  gap: 10px;
}
.cinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px 0;
}
.cinfo span:first-child {
  font-size: 10px;
  color: #79819a;
  font-weight: 400;
}
.cinfo span:last-child {
  color: #47516b;
  font-weight: 500;
}
.icons {
  display: flex;
  width: 30px;
  height: 30px;
  background: #e2e6ee;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  color: #79819a;
}
.line {
  width: 100%;
  height: 0.5px;
  background: #e2e6ee;
}
aside h3 {
  font-size: 15px;
  color: #79819a;
}
.skills ul {
  display: flex;
  gap: 10px;
}
.skills ul li {
  background: #f7f9fc;
  padding: 20px;
}
